@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

:root{
	--background:#e0e5ec;
	--gray:#797d7f;
}

*,
*::before,
*::after{
	/* padding:0; */
	box-sizing:border-box;
}

body{
	margin:0;
	font-family: "Raleway", sans-serif;
	height:100%;
}
/* background:linear-gradient(to bottom,#338ce0,#dff1ff); */
/* background:linear-gradient(to bottom,#e03375,#dff1ff); */
/* background:linear-gradient(to bottom,#211eca,#dff1ff); */
/* background-image: linear-gradient(45deg, rgb(140, 202, 165),rgb(198,159,197)); */
.clear{
	clear:both;
}

img{
	max-width:100%;
}

.container{
	/* background-color:var(--background); */
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:100vh;
}

.container.normal{
	background-color:var(--background);
}
.container.aqua{
	background:linear-gradient(to bottom,#338ce0,#dff1ff);
}
.container.red{
	background:linear-gradient(to bottom,#e03375,#dff1ff);
}
.container.blue{
	background:linear-gradient(to bottom,#211eca,#dff1ff);
}



.player{
	width:300px;
	height:550px;
	background-color:var(--background);
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	border-radius:12px;
	box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}


.player-controls{
	display:flex;
	width:95%;
	align-items:center;
	justify-content:space-evenly;
	margin-bottom:25px;
}

.player-btn{
	cursor:pointer;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	box-shadow:-8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9, 8px 8px 20px #0001, 5px 5px 6px 0px #0001;
	color:var(--gray);
}

.player-btn:active{
	color:#5c87fe;
	box-shadow: inset -8px -8px 20px #fff9, inset -5px -5px 6px #fff9, inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
}

.player-btn.blue{
	color:white;
}

.player-btn.blue:active{
	/* color:var(--gray); */
	box-shadow:
	inset -8px -8px 18px #bfd8f67c,  
	inset 8px 8px 20px #0003, 
	inset 5px 5px 6px #0001;
}

.player-btn-small{
	min-width:50px;
	min-height:50px;
}

.player-title{
	font-weight:600;
	font-size:0.8em;
	color:#a1a1a1;
	text-transform:uppercase;
	letter-spacing:2px;
	margin:0;
}

.player-album{
	width:150px;
}

.player-img{
	border-radius:50%;
	box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}

.player-artist{
	font-size:1.2em;
	font-weight:500;
	opacity:0.5;
	margin:20px 0px 0px 0px;
}

.player-som{
	position:relative;
	width:100%;
	text-align:center;
	font-weight:400;
	font-size:1em;
	opacity:0.5;
	margin:0;
}

.player-level{
	width:80%;
	-webkit-appearance:none;/* background input range */
	outline:none;
	border:0;
	margin-top:40px;
}
/* estilo de input range fundo */
.player-level::-webkit-slider-runnable-track{
	background-color:#d7dbdd;
	height:6px;
	border:3px;
}
/* estilo de input range bolinha */
.player-level::-webkit-slider-thumb{
	-webkit-appearance:none;
	border-radius:100%;
	background-color:#5c87fe;
	height:18px;
	width:18px;
	margin-top:-7px;
}

.audio-duration{
	margin-top:-30px;
	display:flex;
	width:80%;
	font-size:10px;
	font-weight:600;
	color:#a1a1a1;
	letter-spacing:1px;
}

.start{
	flex: 1;
}

.player-audio{
	visibility: hidden;
}

.player-btn-medium{
	min-width:70px;
	min-height:70px;
}

.player-btn-medium.blue{
	background-color:#5c87fe;
}

.hide{
	display:none;
}

.player2.ativo{
	width:350px;
	height:200px;
	margin-left: -330px;
	position: relative;
	/* left: 413px;
	top: -164px; */
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius: 12px;
	background-color:var(--background);
	box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.painel.ativo{
	display:flex;
	align-items:center;
	justify-content: center;
	
}

div.one:hover,
div.two:hover,
div.three:hover{
	transition:0.5s;
	transform:scale(1.6);
}

.painel div.one.ativo{
	width:100px;
	height:100px;
	margin:4px;
	border-radius:50%;
	border:4px solid #4591ad;
	cursor: pointer;
	background-image:url('../imagens/blue.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}


.painel div.two.ativo{
	width:100px;
	height:100px;
	margin:4px;
	border-radius:50%;
	border:4px solid #e03375;
	cursor: pointer;
	background-image:url('../imagens/fox.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}

.painel div.three.ativo{
	width:100px;
	height:100px;
	margin:4px;
	border-radius:50%;
	cursor: pointer;
	border:4px solid #8483da;
	background-image:url('../imagens/charlotte-anime.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}

.one div{
	width:20px;
	height:20px;
	background-color:#338ce0;
	border:3px solid var(--gray);
	border-radius:50%;
}
.two div{
	width:20px;
	height:20px;
	background-color:#e03375;
	border:3px solid var(--gray);
	border-radius:50%;
}
.three div{
	width:20px;
	height:20px;
	border:3px solid var(--gray);
	background-color:blue;
	border-radius:50%;
}

.painelControles.ativo{
	width:250px;
	height:100px;
	position:relative;
	margin-left:-100px;
	left:85px;
	top:-220px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius: 12px;
	background-color:var(--background);
	box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
	/* transition:0.5s; */
}

.center.ativo{
	position: relative;
	display:flex;
	justify-content:center;
	align-items:center;	
}

.center a{
	min-width:70px;
	height:50px;
	text-decoration:none;
	background-color:var(--background);
	align-items:center;
	/* margin-top:5px; */
	color:var(--gray);
	box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}
.fa-volume-up, .fa-volume-down, .fa-volume-off{
display: flex;
flex-direction: row;
align-items:center;
justify-content: center;
position: relative;
left: 1px;
top: 17px;
}

.volume1{
	display:none;
}
.volume2{
	display:none;
}
.volume3{
	display:none;
}
.volume1.ativo{
	display:block;
}
.volume2.ativo{
	display:block;
}
.volume3.ativo{
	display:block;
}


audio{
	margin-top:20px;
	margin-bottom:10px;
}

audio::-webkit-media-controls-play-button {
    display:none;
}
audio::-webkit-media-slider-thumb {
    display:none;
}

@media all and (max-width:750px){
/*BugScroll*/
::-webkit-scrollbar{
	display:none;
	}
	.container{
		transform:scale(1.1);
	}
	
	.player2.ativo{
		width:350px;
		height:200px;
		margin-left: -330px;
		position: relative;
		left: 0px;
		top: -64px;
		display:flex;
		justify-content:center;
		align-items:center;
		border-radius: 12px;
	}
	.painelControles.ativo{
		width:85px;
		height:210px;
		margin-left: -70px;
		position: relative;
		left: -20px;
		top: -90px;
		display:flex;
		justify-content:center;
		align-items:center;
		border-radius: 12px;
	}
	.center.ativo{
		position: relative;
		flex-direction:column;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.center a{
		min-width:60px;
		height:50px;
		align-items:center;
		margin-top:5px;
	}

}
@media all and (max-height:506px){
	.container{
		transform:scale(0);
		position: absolute;
		top:52%;
		left:50%;
		transform: translate(-50%,-50%);
	}
}

/* APLICANDO EFEITO NO audio::-webkit ESTILIZANDO */

/*
audio::-webkit-media-controls-mute-button{display:none;}
audio::-webkit-media-controls-play-button{display:none;}
audio::-webkit-media-controls-timeline-container{display:none;}
audio::-webkit-media-controls-current-time-display{display:none;}
audio::-webkit-media-controls-time-remaining-display{display:none;}
audio::-webkit-media-controls-volume-slider-container{display:none;}
audio::-webkit-media-controls-volume-slider{display:none;}
audio::-webkit-media-controls-seek-back-button{display:none;}
audio::-webkit-media-controls-seek-forward-button{display:none;}
audio::-webkit-media-controls-fullscreen-button{display:none;}
audio::-webkit-media-controls-rewind-button{display:none;}
audio::-webkit-media-controls-return-to-realtime-butto{display:none;}
audio::-webkit-media-controls-timeline{display:block;}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
	display: none;
}
audio::-webkit-media-controls-panel {
	background:#e0e5ec;
  	border-radius: 0;
}
audio::-webkit-media-controls-timeline {
	background: #e0e5ec;
	height:1px;
  	margin-left: 15px;
} */

